@font-face {font-family: 'myriadpro-semiboldsemiext'; src: url('../fonts/myriadpro-semiboldsemiext.otf');}
@font-face {font-family: 'myriadpro-lightsemitext'; src: url('../fonts/myriadpro-lightsemitext.otf');}
@font-face {font-family: 'myriadpro-semiext'; src: url('../fonts/myriadpro-semiext.otf');}
@font-face {font-family: 'alpine-r'; src: url('../fonts/alpine-r.ttf');}
@font-face {font-family: 'texgyreadventor-regular'; src: url('../fonts/texgyreadventor-regular.otf');}
@font-face {font-family: 'cambria_b'; src: url('../fonts/cambria_b.ttf');}
@font-face {font-family: 'cambria_r'; src: url('../fonts/cambria_r.ttf'), url('../fonts/cambria_r.ttc');}



/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 14px 'myriadpro-semiext', Arial, sans-serif;}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {color: #03f; text-decoration: none;}
a:hover {color: #69f; text-decoration: none;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700; outline: none; text-decoration: none;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

@font-face {font-family: 'robotocondensedbold'; src: url('../fonts/robotocondensedbold.ttf');}

/* COMMON */
.container{max-width: 960px; width: 100%; padding: 0px; margin-left: 0px auto;}

/* HOME */

/* HEADER */
.header{padding: 0px; padding-bottom: 10px;}
.main-nav{position: relative; padding: 35px 0px;}
.main-nav h1{width: 198px; height: 96px; position: absolute; left: 0px; top: 0px;}
.main-nav h1 a{display: block; width: 100%; height: 100%; background: url(../img/logo.png) no-repeat left top; text-indent: -9999px;}
.main-nav ul, .main-nav .search{float: right;}
.main-nav ul li{float: left;}
.main-nav ul li a{display: block; font-family: 'myriadpro-semiboldsemiext'; color: #f15c25; padding: 0px 10px; font-size: 15px;}
.main-nav ul li:hover a, .main-nav ul li.active a{color: #1e6d1c;}
.main-nav .button-nav {display: none;}
.main-nav .search{background: #f15c25; border-radius: 4px; padding: 3px 6px; margin-top: -8px; margin-left: 10px; position: relative;}
.main-nav .search:hover, .main-nav .search.active{background: #1e6d1c;}
.main-nav .search a{display: block;}
.main-nav .search form{position: absolute; top: 35px; right: 0px; display: none; z-index: 9999;}
.main-nav .search form input {
    border-radius: 0px;
    background: #FFF url("../img/icon-search.jpg") no-repeat scroll 98% center;
    padding: 3px 25px 3px 5px;
    height: 26px;
    line-height: 26px;
    width: 200px;
    z-index: 9999;
}

.main-nav .search form .fake-btn {
    display: block;
    width: 29px;
    height: 26px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

/* SLIDER */
.slider{border-top: 1px solid #e1e1e0; border-bottom: 1px solid #e1e1e0; z-index: 998; position: relative;}
.nivo-caption {left: 24%; top: 20%; bottom: auto; background: black;width: 28%; opacity: 1; background: transparent; color: #1e6d1c; }
.nivo-caption p{padding: 0px; font-size: 18px; margin-bottom: 15px; text-align: justify; color: black; font-family: 'cambria_r';}
.nivo-caption h2{font-family: 'cambria_b'; font-size: 50px; margin-bottom: 10px;}
.nivo-caption h2 a{color: #f15c25;}
.nivo-caption h2 a:hover{color: #1e6d1c;}
.nivo-controlNav {position: absolute; bottom: 0px; right: 0px; z-index: 999; padding: 10px 30px;}
.nivo-controlNav a{display: inline-block; margin-left: 7px; width: 10px; height: 10px; background: #434343; text-indent: -9999px; border-radius: 50%; }
.nivo-control.active{background: #5db838;}

/* CONTENT */
.content .container{max-width: 990px;}
/* PRODUCTS */
.products{text-align: center; margin-bottom: 20px;}
.products .container > h2{margin: 15px 0px; margin-top: 25px;}
.products .container > h2 a{color: #f15c25; text-transform: uppercase; font-size: 25px; font-family: 'cambria_b';}
.products .container > h2 a:hover{color: #1e6d1c;}
.products .container > .line{border-top: 1px solid #777777; width: 50%; margin: 0px auto; margin-bottom: 20px;}
.products .container > p{width: 85%; margin: 0px auto; margin-bottom: 20px; font-size: 18px; font-family: 'cambria_r';}
.product{width: 33.33%; float: left; padding: 0px 5px; margin-bottom: 20px;}
.product-in{border: 1px solid #f5f5f5; padding: 7px; border-radius: 2px;
            -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.22);
            -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.22);
            box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.22);}
.product-img{margin-bottom: 20px;}
.product-img a{display: block; overflow: hidden;}
.product-img a > img{width: 100%; height: auto; display: block; 
                     -webkit-transition: opacity 1s, -webkit-transform 1s;
                     transition: opacity 1s, transform 1s;
                     -webkit-backface-visibility: hidden;
                     backface-visibility: hidden;}
.product-img a:hover > img{transform: scale3d(1.1, 1.1, 1);}
.product-desc h3{margin-bottom: 15px;}
.product-desc h3 a{font-size: 25px; font-family: 'cambria_b'; text-transform: uppercase; color: #f15c25;}
.product-desc h3 a:hover{color: #1e6d1c;}
.product-desc p{font-family: 'cambria_r'; color: #787a7a; font-size: 17px; margin-bottom: 20px;}
.product-desc a.more{border: 1px solid #f15c25; padding: 5px 10px; border-radius: 10px; font-size: 15px; color: #f15c25; display: inline-block; margin-bottom: 20px;}
.product-desc a.more:hover{color: #1e6d1c; border: 1px solid #1e6d1c;}

/* NEWS */
.news{text-align: center; background: #fbf7ec; padding-top: 10px;}
.news .container > h2{margin: 15px 0px;}
.news .container > h2 a, .news .container > h2{color: #f15c25; text-transform: uppercase; font-size: 25px; font-family: 'cambria_b';}
.news .container > h2 a:hover{color: #1e6d1c;}
.news .container > .line{border-top: 1px solid #777777; width: 50%; margin: 0px auto; margin-bottom: 35px;}

.hot-new{margin-bottom: 30px;}
.hot-new .hot-new-img{width: 48.5%; float: left; border: 10px solid white; margin-right: 1.5%;
                      -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.22);
                      -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.22);
                      box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.22);}
.hot-new .hot-new-img a{display: block; overflow: hidden;}
.hot-new .hot-new-img a img{width: 100%; height: auto; display: block;
                            -webkit-transition: opacity 1s, -webkit-transform 1s;
                            transition: opacity 1s, transform 1s;
                            -webkit-backface-visibility: hidden;
                            backface-visibility: hidden;}
.hot-new .hot-new-img a:hover > img{transform: scale3d(1.1, 1.1, 1);}
.hot-new .hot-new-desc{width: 48.5%; float: left; margin-left: 1.5%; text-align: left; padding-top: 25px;}
.hot-new .hot-new-desc h3{margin-bottom: 10px;}
.hot-new .hot-new-desc h3 a{font-family: 'cambria_b'; color: #f15c25; text-transform: uppercase; font-size: 23px;}
.hot-new .hot-new-desc h3 a:hover{color: #1e6d1c;}
.hot-new .hot-new-desc p{font-family: 'cambria_r'; font-size: 17px; text-align: justify; margin-bottom: 15px;}
.hot-new .hot-new-desc > a.more{color: #f15c25; font-size: 16px;}
.hot-new .hot-new-desc > a.more:hover{color: #1e6d1c;}

.new{width: 25%; float: left; padding: 0px 6px;}
.new > a{display: block; margin-bottom: 20px;}
.new > a > img{border-radius: 50%; border: 2px solid white; 
               -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.22);
               -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.22);
               box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.22);
               filter: grayscale(1);
               -webkit-filter: grayscale(1);
}
.new:hover > a > img{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}
.new:hover h3 a{color: #555555}
.new:hover .small-line{border-color: #1e6d1c;}

.new h3{margin-bottom: 10px;}
.new h3 a{color: #f15c25; text-transform: uppercase; font-size: 18px; display: block; padding: 0px 5px; font-family: 'cambria_b';}
.small-line{border-top: 2px solid #f15c25; margin-top: 20px;}

.new-group{background: url(../img/bg.png) no-repeat left top; padding-bottom: 30px; background-size: 100% 100%;}




/* FOOTER */
.footer{text-align: center; font-size: 13px; padding: 20px 0px; border-top: 1px solid #e1e1e0; background: #ebebeb;}
.footer p:first-child{margin-bottom: 8px; color: #555555;}
.footer p i{color: #f15c25; padding-left: 5px; padding-right: 2px;}

@media only screen and (max-width: 1366px){
    .nivo-caption {left: 14%; width: 35%; }
}

@media only screen and (max-width: 1024px){
    .nivo-caption {left: 3%; width: 50%; }
}

@media only screen and (max-width: 320px){
    .footer{padding-bottom: 40px;}
}

@media only screen and (max-width: 320px){
    .new-group{ padding-bottom: 0px;}
    .footer{padding-bottom: 40px;}
    .new:last-child {
        margin-bottom: 10px;
    }
}

#toTopHover {
    position: fixed;
    right: 7px;
    bottom: 65px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 8px 10px;
    z-index: 5;
    background: #f15c25;
    transition: all 0.5s ease-out 0s;
}

#toTopHover:hover {
    background: #1e6d1c none repeat scroll 0% 0%;
    color: #FFF;
    border: medium none;
}

#facebook, #google-plus{display: block; color: #4f4f4f; position: fixed; right: 0px; top: 100px; z-index: 9997;}
#facebook{top: 200px;}
#facebook:hover{color: #3b579d}
#google-plus{top: 240px;}
#google-plus:hover{color: #df4b38;}
#facebook i, #google-plus i{font-size: 40px; }

.zalo{margin: 10px auto; max-width: 320px;}
.zalo li{float: left; margin-right: 5px;}
.zalo li a{display: block; color: #434343; font-size: 18px;}
.zalo li:nth-child(even){padding-top: 6px;}
.zalo li:nth-child(3){margin-left: 10px;}


/* MOBILE */
@media only screen and (max-width: 992px){
    .content .container{max-width: 960px;}
}

@media only screen and (max-width: 959px){
    .content .container{padding: 0px 10px;}

    /* HEADER */
    .header{padding:0px; z-index: 999;}
    .main-nav{position: relative; padding: 20px 10px 15px 10px;}
    .main-nav h1{width: 132px; height: 60px; position: absolute; left: 50%;margin-left: -66px;}
    .main-nav h1 a{ background: url(../img/mb-logo.png) no-repeat left top; }

    .main-nav .button-nav {display: block;}
    .main-nav .button-nav a img:first-child{display: none;}

    .main-nav ul{display: none; float: none; position: absolute; top: 100%; left: 0px; width: 100%; text-align: center; background: #fbf7ec; z-index: 9998;}
    .main-nav ul li{float: none; padding: 9px 0px; border-bottom: 1px solid #e1e1e0;}

    .nivo-caption h2{font-size: 40px;}

    .main-nav .search {margin-top: -5px;}
}

@media only screen and (max-width: 767px){
    /* PRODUCTS */
    .product{width: 100%; margin-bottom: 20px;}

    /* SERVICES */
    .service{width: 50%; float: left; padding: 10px; margin-bottom: 20px;}

    /* NEWS */
    .hot-new{margin-bottom: 30px;}
    .hot-new .hot-new-img{width: 100%; margin-right: 0%;}
    .hot-new .hot-new-desc{width: 100%; margin-left: 0%;}

    .new{width: 50%; float: left; padding: 0px 10px; margin-bottom: 30px;}
    .new-group{background: #fbf7ec; }

    .nivo-caption {display: none !important;}
}

@media only screen and (max-width: 479px){

    /* SERVICES */
    .service{width: 100%;}

    /* NEWS */
    .new{width: 100%;}
}

/* GIOI THIEU*/
.intro .content{border-top: 1px solid #e1e1e0; padding-bottom: 20px;}
.intro-slider{padding-bottom: 18px;}
.intro .content h1{font-family: 'cambria_b'; font-size: 30px; text-transform: uppercase; color: #f15c25; margin-bottom: 10px;}
.intro .content p,.intro .content div{font-family: 'cambria_r'; font-size: 18px; margin-bottom: 15px; text-align: justify; color: #434343;}
.intro .content p:last-child{ font-size: 18px; text-align: right; color: #434343;}
.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
    z-index: 999;
}


@media only screen and (max-width: 479px){
    .intro .content h1{font-size: 20px;}
}

/* SẢN PHẨM */
.fresh-flower .content{border-top: 1px solid #e1e1e0; padding-bottom: 30px;}
.fresh-flower-item{width: 33.33%; float: left; padding: 7px;}
.fresh-flower-item .item-in{border: 1px solid #f15c25; display: block; padding: 15px 0px; text-align: center; color: #f15c25;}
.fresh-flower-item .item-in h2{font-family: 'myriadpro-semiboldsemiext'; text-transform: uppercase; font-size: 22px;}
.fresh-flower-item .item-in img{padding: 10px 0px; display: block; margin: 0px auto;}
.fresh-flower-item .item-in p{display: inline-block; border: 1px solid #f15c25; border-radius: 7px; padding: 5px 10px;}
.fresh-flower-item .item-in:hover{color: #1e6d1c; border: 1px solid #1e6d1c; }
.fresh-flower-item .item-in:hover p{border: 1px solid #1e6d1c;}
.navigation{padding: 10px;}

@media only screen and (max-width: 679px){
    .fresh-flower-item{width: 50%;}
}
@media only screen and (max-width: 479px){
    .fresh-flower-item{width: 100%;}
}

/* DANH MỤC SẢN PHẨM */
.list-products .content{border-top: 1px solid #e1e1e0; padding-bottom: 30px;}
.list-products .content h1{text-align: center; font-family: 'cambria_b'; text-transform: uppercase; font-size: 30px; margin-bottom: 10px; color: #f15c25;}
.list-products-item{width: 33.33%; float: left; padding: 7px;}
.list-products-item .item-in{border: 1px solid #f15c25; display: block; padding: 15px 0px; text-align: center; color: #f15c25;}
.list-products-item .item-in h2{font-family: 'cambria_b'; text-transform: uppercase; font-size: 22px; }
.list-products-item .item-in h2 a{color: #f15c25;}
.list-products-item .item-in h2 a:hover{color: #1e6d1c;}
.list-products-item .item-in img{display: block; margin: 0px auto;}
.list-products-item .item-in p{margin-top: 7px; padding: 5px 10px;}
.list-products-item .item-in:hover{color: #1e6d1c; border: 1px solid #1e6d1c; }
.view-details{border: 1px solid #f15c25; padding: 5px; border-radius: 4px; margin-right: 3px; color: #f15c25;}
.view-details:hover{border-color: #1e6d1c; color: #1e6d1c;}
.buy-now{width: 110px; background: #f15c25; color: #fff; margin: 0px auto; padding: 6px; border-radius: 4px;}
.buy-now:hover{background: #1e6d1c; color: #fff;}
.old-price{font-size: 18px !important; font-weight: bold;}
.old-price del{color: #434343 !important; font-size: 15px; margin-right: 10px;}

.page{text-align: right; border-top: 1px solid #e2e2e2; margin-top: 10px; padding: 10px;}
.page ul{display: inline-block;}
.page li{float: left; margin-left: 10px;}
.page li a{display: block; width: 30px; height: 30px; border-radius: 50%; line-height: 30px; color: black; font-size: 14px; text-align: center;}
.page li a:hover, .page li.active a{background: #f15c25; color: white; }
.page li:last-child a:hover, .page li:first-child a:hover{background: white; color: #f15c25;}

.navigation{text-align: right;}
.navigation ul{display: inline-block;}
.navigation ul li{float: left}
.navigation ul li a{color: #f15c25; margin-left: 5px; font-style: italic; font-size: 15px;}
.navigation ul li a i{margin-left: 10px;}

@media only screen and (max-width: 679px){
    .list-products-item{width: 50%;}
}
@media only screen and (max-width: 479px){
    .list-products-item{width: 100%;}
    .list-products .content h1{font-size: 20px;}
    .list-products-item .item-in h2{font-size: 18px;}
}

/* CHI TIẾT SẢN PHẨM */
.product-details .content{border-top: 1px solid #e1e1e0; padding-bottom: 30px;}
.product-details-item{width: 33.33%; float: left; padding: 7px;}
.product-details-item .item-in{border: 1px solid #f15c25; display: block; padding: 15px 0px; text-align: center; color: #f15c25;}
.product-details-item .item-in h2{font-family: 'myriadpro-semiboldsemiext'; text-transform: uppercase; font-size: 22px;}
.product-details-item .item-in img{padding: 10px 0px; display: block; margin: 0px auto;}
.product-details-item .item-in p{display: inline-block; border: 1px solid #f15c25; border-radius: 7px; padding: 5px 10px;}
.product-details-item .item-in:hover{color: #1e6d1c; border: 1px solid #1e6d1c; }
.product-details-item .item-in:hover p{border: 1px solid #1e6d1c;}
.related-products > h2{font-family: 'cambria_b'; text-transform: uppercase; font-size: 25px; margin-bottom: 10px; color: #f15c25; padding-left: 7px;}

.product-info{margin-bottom: 15px; border-bottom: 1px solid #efefef; padding-bottom: 20px;}
.product-info-tab{margin-bottom: 15px;}
.product-info-tab li{float: left;}
.product-info-tab li a{font-family: 'cambria_r'; font-size: 23px; color: #434343; display: block; padding: 0px 30px; border-right: 1px solid #f15c25;}
.product-info-tab li:first-child a{padding-left: 0px; }
.product-info-tab li:last-child a{border-right: none;}
.product-info-tab li.active a, .product-info-tab li:hover a{color: #f15c25;}

.product-info-1 > div:first-child{width: 33.33%; float: left; overflow: hidden;}
.product-info-1 > div:last-child{width: 66.66%; float: left; padding-left: 15px;}
.product-info-1 > div:first-child img{width: 100%; height: auto; display: block; -webkit-transition: opacity 1s, -webkit-transform 1s;
                                      transition: opacity 1s, transform 1s;
                                      -webkit-backface-visibility: hidden;
                                      backface-visibility: hidden;}
.product-info-1 > div:first-child:hover img{transform: scale3d(1.1, 1.1, 1);}

.product-info-1 > div p, .product-info-2 p,.product-info-3 p{font-size: 16px; margin-bottom: 5px;}

.product-slider .product-slider-img{width: 64%; float: left; padding-bottom: 50px;}
.product-slider .product-slider-desc{width: 36%; float: left; padding-left: 20px; }
.product-slider .product-slider-desc p{text-align: justify; margin-bottom: 5px; font-family: 'cambria_r'; font-size: 18px;}
.product-info-in p{font-family: 'cambria_r'; font-size: 17px;}
.product-slider .product-slider-desc p:first-child{margin-top: 10px;}
.product-slider .product-slider-desc h1{font-family: 'cambria_b'; text-transform: capitalize; font-size: 30px; margin-top: 20px; color: #f15c25; margin-bottom: 10px;}
.product-slider .product-slider-desc h3{margin-bottom: 5px; font-family: 'cambria_b'; margin-top: 20px;}
.product-slider .product-slider-desc p span{ font-family: 'myriadpro-semiboldsemiext';}
.product-slider .product-slider-desc > a{display: inline-block; background: #39b54a; color: white; text-transform: uppercase; padding: 5px 12px 4px; border-radius: 4px; margin-top: 15px;}

.product-slider .flexslider {
    padding: 5px;
}
.product-slider .flex-control-paging li a {
    width: 10px;
    height: 10px;
}

@media only screen and (max-width: 768px){
    .product-slider .product-slider-desc h1{font-size: 20px; margin-top: 0px;}
    .product-slider .product-slider-img{width: 50%; float: left;}
    .product-slider .product-slider-desc{width: 50%; float: left;}

    .product-info-tab li a{font-size: 20px;}
    .related-products > h2{font-size: 20px;}
    .product-details-item .item-in h2{font-size: 20px;}
}
@media only screen and (max-width: 767px){
    .product-slider .product-slider-img{width: 100%; float: left;}
    .product-slider .product-slider-desc{width: 100%; float: left; padding-left: 0px; margin-bottom: 30px;}
    .product-info-tab li{float: none; text-align: center; border-bottom: 1px solid #f15c25; padding: 3px 0px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
    .product-info-tab li a{ padding: 0px; border: none;}
    .product-info-tab li.active, .product-info-tab li:hover{background: #f15c25;}
    .product-info-tab li.active a, .product-info-tab li:hover a{color: #fff;}

    .product-info-1 > div:first-child{width: 100%;}
    .product-info-1 > div:last-child{width: 100%;}
    .product-info-1 > div:first-child{margin-bottom: 20px;}
}

@media only screen and (max-width: 679px){
    .product-details-item{width: 50%;}
}
@media only screen and (max-width: 479px){
    .product-details-item{width: 100%;}
}

/* ALBUM */
.albums .content{border-top: 1px solid #e1e1e0; padding-bottom: 30px;}
.album-tab{margin-bottom: 5px;}
.album-tab li{width: 50%; float: left; padding: 0px 10px; text-align: center; border-bottom: 1px solid #f15c25; padding: 3px 0px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.album-tab li:last-child{text-align: center;}
.album-tab li a{text-transform: uppercase; font-family: 'cambria_b'; color: #f15c25; font-size: 20px;}
.album-tab li.active a, .album-tab li:hover a{color: #fff; }
.album-tab li.active, .album-tab li:hover{border: 1px solid #f15c25; border-bottom: none; background: #f15c25;}

.album ul li{width: 33.33%; float: left; padding: 7px;}
.album ul li div{border: 6px solid #fff; border-radius: 2px;
                 -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.22);
                 -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.22);
                 box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.22);
                 overflow: hidden;
                 width: 100%; height: auto; display: block;
}
.album ul li div img{
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.album ul li div:hover img{
    transform: scale3d(1.1, 1.1, 1);
}
.album ul li > a{display: block;}
.album ul li h3{text-align: center; color: #434343; text-transform: uppercase; font-family: 'cambria_b';  padding: 10px 20px 10px 20px; font-size: 15px;}
.album ul li:hover h3{color: #f15c25;}

@media only screen and (max-width: 679px){
    .album ul li{width: 50%;}
}
@media only screen and (max-width: 479px){
    .album ul li{width: 100%;}
    .album-tab li{width: 100%; text-align: center !important;}
    .album-tab li{ border: 1px solid #f15c25; border-bottom: none;}
    .album-tab li a{font-size: 17px;}
}


/* NEWS */
.news-page .content{border-top: 1px solid #e1e1e0; padding-bottom: 30px;}
.news-page-item{width: 33.33%; float: left; padding: 7px;}
.news-page-item .item-in{border: 1px solid #e7e7e7; display: block; padding: 15px 15px 15px 15px; text-align: center; color: #f15c25; border-radius: 3px;}
.news-page-item .item-in h2{font-family: 'cambria_b'; text-transform: uppercase; font-size: 15px; margin: 10px 0px 20px 0px; color: #434343;}
.news-page-item .item-in img{width: 100%; height: auto; display: block;}
.news-page-item .item-in p{display: inline-block; border: 1px solid #f15c25; border-radius: 7px; padding: 5px 10px;}
.news-page-item .item-in:hover{color: #1e6d1c; border: 1px solid #1e6d1c; }
.news-page-item .item-in:hover p{border: 1px solid #1e6d1c;}

.hot-new-page{margin-bottom: 20px; border-bottom: 1px solid #f15c25; padding-bottom: 15px;}
.hot-new-page .hot-new-page-img{width: 48.5%; float: left; border: 10px solid white; margin-right: 1.5%;
                                -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.22);
                                -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.22);
                                box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.22);}
.hot-new-page .hot-new-page-img a{display: block; overflow: hidden;}
.hot-new-page .hot-new-page-img a img{width: 100%; height: auto; display: block;
                                      -webkit-transition: opacity 1s, -webkit-transform 1s;
                                      transition: opacity 1s, transform 1s;
                                      -webkit-backface-visibility: hidden;
                                      backface-visibility: hidden;}
.hot-new-page .hot-new-page-img a:hover > img{transform: scale3d(1.1, 1.1, 1);}
.hot-new-page .hot-new-page-desc{width: 48.5%; float: left; margin-left: 1.5%; text-align: left; padding-top: 25px;}
.hot-new-page .hot-new-page-desc h1{margin-bottom: 10px;}
.hot-new-page .hot-new-page-desc h1 a{font-family: 'cambria_b'; color: #f15c25; text-transform: uppercase; font-size: 23px;}
.hot-new-page .hot-new-page-desc h1 a:hover{color: #1e6d1c;}
.hot-new-page .hot-new-page-desc p{font-family: 'cambria_r'; font-size: 17px; text-align: justify; margin-bottom: 15px;}
.hot-new-page .hot-new-page-desc > a.more{color: #f15c25; font-size: 16px;}
.hot-new-page .hot-new-page-desc > a.more:hover{color: #1e6d1c;}

@media only screen and (max-width: 767px){
    .hot-new-page .hot-new-page-img{width: 100%;}
    .hot-new-page .hot-new-page-desc{width: 100%; margin-left: 0%;}
}

@media only screen and (max-width: 679px){
    .news-page-item{width: 50%;}
}
@media only screen and (max-width: 479px){
    .news-page-item{width: 100%;}
}

/* NEWS-DETAILS */
.news-details .content .container{max-width: 970px;}
.news-details .content{border-top: 1px solid #e1e1e0; padding-bottom: 30px;}
.news-details-in h1{text-transform: uppercase; font-family: 'cambria_b'; color: #f15c25; font-size: 20px; margin-bottom: 15px;}
.news-details-in p, .news-details-in span, .news-details-in div{font-family: 'cambria_r'; font-size: 17px; margin-bottom: 10px; text-align: justify;}
.news-details-in img{padding: 10px 0px;}
.news-details-in{padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px solid #f15c25;}

#news-related{width: 90%; margin: 0px auto;}
#news-related .item{padding: 7px;}
#news-related .item > a{border: 1px solid #e7e7e7; display: block; padding: 15px 15px 15px 15px; text-align: center; color: #f15c25; border-radius: 3px;}
#news-related .item > a h2{font-family: 'cambria_b'; text-transform: uppercase; font-size: 15px; margin: 10px 0px 20px 0px; color: #434343;}
#news-related .item > a img{width: 100%; height: auto; display: block;}
#news-related .item > a p{display: inline-block; border: 1px solid #f15c25; border-radius: 7px; padding: 5px 10px;}
#news-related .item > a:hover{color: #1e6d1c; border: 1px solid #1e6d1c; }
#news-related .item > a:hover p{border: 1px solid #1e6d1c;}

.owl-theme .owl-controls .owl-buttons div.owl-prev {
    left: -50px;
    background: transparent url("../img/back.png") no-repeat scroll center center;
}

.owl-theme .owl-controls .owl-buttons div.owl-next {
    right: -50px;
    background: transparent url("../img/next.png") no-repeat scroll center center;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev, .owl-theme .owl-controls .owl-buttons div.owl-next {
    position: absolute;
    top: 0px;
    margin: 0px;
    width: 36px;
    height: 100%;
    overflow: hidden;
    text-indent: 99999px;
}
@media only screen and (max-width: 767px){
    .news-details-in h1{ font-size: 18px; }

    #news-related{width: 80%; margin: 0px auto;}
    .owl-theme .owl-controls .owl-buttons div.owl-prev {
        left: -40px;
    }


    .owl-theme .owl-controls .owl-buttons div.owl-next {
        right: -40px;
    }
}


/* CONTACT */
.contact .content{border-top: 1px solid #e1e1e0; padding-bottom: 30px;}
.contact iframe{display: block;}

.contact form {
    width: 100%;
}

.contact form .input-group {
    margin: 15px 0px;
}

.contact form input[type="submit"],.contact form input[type="button"]{
    border-radius: 5px;
    background: #f15c25;
    color: white;
    padding: 5px 25px;
    font-size: 17px;
}

.contact form input[type="submit"]:hover,.contact form input[type="button"]:hover {
    background: black;
    color: #f15c25;
    opacity: 0.8;
}

.contact textarea{min-height: 150px; resize: vertical;}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: white;
    text-align: center;
    background-color: #f15c25;
    border: 1px solid #f15c25;
    border-radius: 4px;
}

.form-control:focus {
    border-color: #f15c25;
    outline: 0px none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(252, 151, 20, 0.6);
}

.contact-decs{text-align: center;}
.contact-decs h1{text-transform: uppercase; color: #434343; font-size: 35px;font-family: 'cambria_b'; margin-bottom: 20px;}
.contact-icon a{font-size: 80px;}
.contact-icon a{display: inline-block; width: 130px; height: 130px; background: #f15c25; border-radius: 50%; line-height: 120px; color: #fff; margin-bottom: 15px;}
.contact-decs p{font-size: 20px; font-family: 'cambria_r';}
.contact-decs .line{width: 50%; border-bottom: 1px solid #f15c25;margin: 0px auto; margin-bottom: 20px;}

.contact-form-left{float: left; width: 66%;}
.contact-form-right{float: left; width: 34%; padding-left: 20px; padding-top: 40px;}
.contact-form-in{padding-top: 30px;}

.contact form h2{text-transform: uppercase; color: #f15c25; font-size: 25px;font-family: 'cambria_b';}
.send-button{text-align: right;}

.address-1 h3, .address-2 h3{color: #f15c25; font-size: 20px;font-family: 'cambria_b';text-transform: uppercase; margin-bottom: 10px;}
.address-1{margin-bottom: 60px;}
.address-1 p, .address-2 p{font-size: 17px; font-family: 'cambria_r'; margin-bottom: 3px; text-align: justify;}
.address-1 p i, .address-2 p i{color: #f15c25; padding-right: 5px;}

@media only screen and (max-width: 767px){
    .contact-form-left{width: 100%;}
    .contact-form-right{width: 100%;}
}

@media only screen and (max-width: 480px){
    .contact-decs h1{text-transform: uppercase; color: #434343; font-size: 25px;}
    .contact-decs p{font-size: 16px;}
    .contact form h2{font-size: 20px;}
    .address-1 h3, .address-2 h3{font-size: 18px;}
}

@media only screen and (max-width: 600px){
    .hot-new .hot-new-desc p,.products .container > p, .product-desc p, .intro .content p, .product-slider .product-slider-desc p,
    .product-info-in p, .product-info-tab li a, .hot-new-page .hot-new-page-desc p, .news-details-in p, .news-details-in span, 
    .news-details-in div, .contact-decs p, .address-1 p, .address-2 p{font-family: arial;}
}

ul#breadcrumb{float: right;}

/**/
.modal-title{text-align: center; color: #f15c25; font-size: 20px;font-family: 'myriadpro-semiboldsemiext';}
.form-order div{margin-bottom: 10px;}
.form-order .send-button input{background: #f15c25; color: #fff; }
#myModal, body{padding-right: 0px !important;}
.contact-maps i{float: left;width: 20px;}
.swiper-wrapper .swiper-slide{float: left;width: 20%;text-align: center;height: 70px;}
#menu-footer a{color: #333;}
#menu-footer a:hover{color: #f15c25;}
#menu-footer{margin-bottom: 10px;}

.text_price{margin: 5px 0px 5px 0px;color: #1e6d1c;font-style: italic;}
.new_price{margin-bottom: 5px;}

.list-products-item .item-in{position: relative;height: 565px;}
.sale-off{position: absolute; top: 26px; left: 5px; display: block;width: 50px; height: 50px; color: #fff; background: url(../img/sale-off.png) no-repeat left top; background-size: cover; padding-top: 10px; line-height: 15px; font-weight: bold;}


/* STEP */
.quatang .content, .hoantat .content, .thongtinll .content, .thongtinnn .content, .thanhtoan .content, .loinhan .content, .gio-hang .content, .dangnhap .content{border-top: 1px solid #E1E1E0;}
.quatang-in{margin-bottom: 25px;}

.step{margin-bottom: 70px; margin-top: 30px;}
.step ul li{float: left; margin-right: 120px; position: relative;}
.step ul li:first-child{margin-left: 40px;}
.step ul li:last-child{margin-right: 0px;}
.step ul li a{display: block; width: 50px; height: 50px; text-align: center; border: 1px solid #f15c25; border-radius: 50%; line-height: 50px; color: #f15c25; font-family: 'cambria_r'; font-size: 23px; font-weight: bold; cursor:default}
.step ul li span{position: absolute; top: 60px; left: 0px; color: #f15c25; font-family: 'cambria_r'; font-size: 17px; display: block; width: 160px; font-weight: bold;}
.step ul li:first-child span{left: -20px;}
.step ul li:nth-child(2) span{left: -35px;}
.step ul li:nth-child(3) span{left: -50px;}
.step ul li:nth-child(4) span{left: -5px;}
.step ul li:nth-child(5) span{left: -10px;}
.step ul li:nth-child(6) span{left: 0px;}
.step ul li:before{content:""; display: block; border-top: 1px dotted #f15c25; position: absolute; top: 25px; left: 50px; width: 120px;}
.step ul li:last-child:before{display: none;}

/*.step ul li:hover a, .step ul li.active a{border: 4px solid #1e6d1c; line-height: 42px;}
.step ul li:hover:before, .step ul li.active:before{ border-top: 1px solid #1e6d1c;}*/
.step ul li.active a{border: 4px solid #1e6d1c; line-height: 42px; color: #1e6d1c}
.step ul li.active span{color: #1e6d1c;}
.step ul li.active:before{ border-top: 1px solid #1e6d1c;}

.quatang-l{width: 42%; float: right;}
.quatang-r{width: 56%; float: left; margin-right: 2%;}

.block-giohang{border: 1px solid #cccccc; margin-top: 5px; padding: 10px 20px;}
.block-giohang h2{font-family: 'cambria_r'; color: #f15c25; font-size: 20px; text-transform: uppercase; border-bottom: 1px solid #ccc; padding-bottom: 8px; margin-bottom: 8px; font-weight: bold;}
.block-giohang > p{text-align: right;}
.block-giohang > p button{width: 100px; text-align: center; background: #f15c25; border: 0px; color: #fff; font-size: 16px; padding: 5px 10px; margin: 10px 0px; }

.item-giohang{border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px; position: relative;}
.item-giohang .item-giohang-c{position: absolute; top: 0px; right: 0px;}
.item-giohang-i{width: 120px; float: left;}
.item-giohang-t{margin-left: 160px; margin-top: 10px;}
.item-giohang-total .item-giohang-t{margin: 0px;}
.item-giohang-t h4{margin-bottom: 10px;}
.item-giohang-t h4 a{font-family: 'cambria_r'; color: #f15c25; font-size: 18px; font-weight: bold;}
.item-giohang-t p{font-weight: bold; text-align: right; margin-bottom: 3px;}
.item-giohang-t p select{width: 80px;}
.item-giohang-t p span{font-weight: bold; display: inline-block; float: left; text-align: left;}

.item-giohang-total .item-giohang-t p:last-child{border-top: 1px solid #ccc; color: #f15c25; margin-top: 10px; padding-top: 10px;}

/* Thong tin lien lac */
.block-thongtin{border: 1px solid #ccc; padding: 10px 20px; margin-top: 5px;}
.block-thongtin h2{font-family: 'cambria_r'; color: #f15c25; font-size: 20px; text-transform: uppercase; border-bottom: 1px solid #ccc; padding-bottom: 8px; margin-bottom: 8px; font-weight: bold;}
.block-thongtin .social{margin: 0px 10px; }
.ll > p{font-style: italic;}
.ll p{margin-bottom: 10px; font-size: 15px;}
.ll p > span{display: inline-block; width: 22%; }
.ll p > span span{color: #f15c25;}
.ll p input{width: 78%; height: 30px; border: 1px solid #ccc;}
.ll p input:focus{border: 1px solid #f15c25;}
.ll form p:last-child{text-align: right;}
.ll form p:last-child input{width: 100px; text-align: center; background: #f15c25; border: 0px; color: #fff; font-size: 16px;}

.nn p{margin-bottom: 10px; font-size: 15px;}
.nn p > span, .nn p label{display: inline-block; width: 28%; }
.nn p span span{color: #f15c25;}
.nn p input, .nn p select{width: 71%; height: 30px; border: 1px solid #ccc;}
.nn p select{width: 71%; height: 30px; border: 1px solid #ccc;}
.nn p input:focus, .nn p select:focus{border: 1px solid #f15c25;}
.nn form p:last-child{text-align: right;}
.nn form p:last-child input{width: 100px; text-align: center; background: #f15c25; border: 0px; color: #fff; font-size: 16px;}
.nn p input[type="checkbox"]{margin-left: 3px; width: auto; height: auto;}
.nn p select.date{width: 17%;}
.nn p button{background: #f15c25; color: #fff; text-transform: uppercase; border: 0px; padding: 5px 10px;}


.ln p{margin-bottom: 10px; font-size: 15px;}
.ln p > span{display: inline-block; width: 28%;float: left; }
.ln p > span span{color: #f15c25;}
.ln p input, .ln p select, .ln form p textarea{width: 72%; height: 30px; border: 1px solid #ccc;}
.ln p input:focus, .ln p select:focus, .ln p textarea:focus{border: 1px solid #f15c25;}
.ln form p:last-child{text-align: right;}
.ln form p:last-child input{width: 100px; text-align: center; background: #f15c25; border: 0px; color: #fff; font-size: 16px;}
.ln > p input[type="checkbox"]{margin-left: 3px;}
.ln > p input, .ln > p select{width: auto; height: auto;}
.ln > p select{width: 17%;}
.ln > p button{background: #f15c25; color: #fff; border: 0px; padding: 5px 15px; margin: 10px 0px;}
.ln .pline{border-top: 1px solid #ccc;}
.ln p textarea{min-height: 80px !important; resize: vertical;}

.tt p{margin-bottom: 10px; font-size: 15px;}
.tt p span{color: #f15c25;}
.tt form p input{margin-right: 5px;}
.tt form p:last-child{text-align: right;}
.tt form p:last-child input{width: 100px; text-align: center; background: #f15c25; border: 0px; color: #fff; font-size: 16px; padding: 5px 15px;}
.tt > p button{background: #f15c25; color: #fff; border: 0px; padding: 5px 15px; margin: 10px 0px;}
.tt .pline{border-top: 1px solid #ccc;}


.tb_order_info {
    width: 100%;
    background-color: #C2C2C2;
    clear: both;
    margin: 20px 0px;
}

.tb_order_info th {
    color: #555;
    background-color: #F7F7F7;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
}

.tb_order_info td {
    background-color: #FFF;
    color: #000000;
    padding: 2px 5px;
}

.tb_order_info td strong.title {
    width: 130px;
    display: inline-block;
    float: left;
    text-align: right;
    padding-right: 10px;
}

.hoantat .quatang-w h2{color: #f15c25; font-weight: bold;}
.del-product{background: url(../img/del.png) no-repeat left top; display: inline-block; position: absolute; left: 5px; bottom: 5px; padding-left: 25px; color: #ccc; font-style: italic; font-size: 15px;}
.total{margin-right: 50px;}
.gio-hang-button button{background: #f15c25; color: #fff; border: 0px; text-transform: uppercase; padding: 5px 15px; border-radius: 3px; margin-left: 5px; font-weight: bold;}
.success{color: red;}

/* Top-menu */
.top-menu{text-align: right; z-index: 99999;}
.top-menu ul{display: inline-block;}
.top-menu ul li{float: left;}
.top-menu ul li:nth-child(2){padding-top: 5px; color: #999;}
.top-menu ul li a{font-style: italic; display: block; padding: 5px; color: #999;}
.top-menu ul li:nth-child(3) a{color: #41873F; background: url(../img/giohang.png) no-repeat 4px 7px; padding-left: 20px;}
.top-menu ul li:nth-child(1) a{background: url(../img/taikhoan.png) no-repeat 97% 12px; padding-right: 20px;}
.top-menu ul li:nth-child(1) a:hover{color: #41873F;}
.top-menu ul li:nth-child(1){position: relative;}
.top-menu ul li:nth-child(1) ul{position: absolute; top: 100%; right: 0px; width: 200px; z-index: 99999;}
.top-menu ul li:nth-child(1) ul li{float: none; width: 100%;}
.top-menu ul li:nth-child(1) ul li a{background: #F7F7F7;}
.top-menu ul li ul{background: #F7F7F7; box-shadow: 1px 1px 3px #929292; display: none;}
.top-menu ul li ul li{border: 1px solid #ccc; border-top: 0px;}
.top-menu ul li ul li:first-child{border-top: 1px solid #ccc; }
.top-menu ul li ul li:nth-child(2){padding-top: 0px;}
.top-menu ul li ul li a{ padding: 0px !important; text-align: left; padding: 5px 10px 5px 20px !important; background: url(../img/bullet.png) no-repeat 5px 50% !important; font-style: normal;}
.top-menu ul li ul li:nth-child(3) a{color: #999;}
.top-menu ul li:nth-child(1):hover ul{display: block !important;}

@media only screen and (max-width: 768px){
    .top-menu{border-bottom: 1px solid rgba(0,0,0,0.1)}
}

/* DANG NHAP */
.dangnhap-in{margin-bottom: 40px;}
.form-dangky{width: 48.5%; float: left; border: 1px solid #ccc; margin-right: 3%; padding: 10px 20px;}
.form-dangnhap{width: 48.5%; float: left;border: 1px solid #ccc; padding: 10px 20px; }

.form-dangky h2, .form-dangnhap h2{font-family: 'cambria_r'; color: #f15c25; font-size: 20px; text-transform: uppercase; border-bottom: 1px solid #ccc; padding-bottom: 8px; margin-bottom: 8px; font-weight: bold;}
.modal-title{font-family: 'cambria_r'; color: #f15c25; font-size: 20px; text-transform: uppercase; font-weight: bold; padding-bottom: 10px;}
.form-dangky div, .form-dangnhap div{margin-bottom: 10px;}
.form-dangky div label, .form-dangnhap div label{width: 28%; float: left;}
.form-dangky div input, .form-dangnhap div input{width: 72%; float: left; height: 30px; border: 1px solid #ccc;}

.button-dk, .button-dn{float: none !important; margin: 0px auto; width: 192px !important; height: 40px !important; text-transform: uppercase; font-weight: bold; background: #f15c25; color: #fff; }
.button-dk:hover, .button-dn:hover{background: #41873F; color: #fff;}
.msg_box_error .error{color: red;}
.msg_box_error{margin-bottom: 10px;}

@media only screen and (max-width: 767px){
    .form-dangky{width: 100%; margin-right: 0%; margin-bottom: 30px;}
    .form-dangnhap{width: 100%; }
}

@media only screen and (max-width: 360px){
    .form-dangky h2, .form-dangnhap h2{font-size: 17px;}
    .form-dangky div label, .form-dangnhap div label{width: 100%;}
    .form-dangky div input, .form-dangnhap div input{width: 100%;}
}

/* 04/12/2015 */
.btn-tt-w{padding-top: 10px; padding-bottom: 10px;}
.btn-tt{background: #f15c25; color: #fff; text-transform: uppercase; padding: 5px 15px; margin-left: 10px; font-weight: bold; }
.btn-tt:hover{background: #41873F; color: #fff;}

.modal-header{padding-bottom: 10px; text-align: center;}
.modal-body{padding: 20px 30px;}
.form-quenmk div label, .form-ktdh div label{width: 28%; float: left;}
.form-quenmk div input, .form-ktdh div input{width: 72%; float: left; height: 30px; border: 1px solid #ccc;}
.form-ktdh p{margin-bottom: 20px;}

.button-qmk{float: none !important; margin: 0px auto; width: 192px !important; height: 40px !important; text-transform: uppercase; font-weight: bold; background: #f15c25; color: #fff; }
.button-qmk:hover{background: #41873F; color: #fff;}
.button-qmk{margin-top: 10px;}

/* Mobile */
@media only screen and (max-width: 768px){
    .step{margin-bottom: 30px; margin-top: 30px;}
    .step ul li{margin-right: 0px; width: 50%; margin-bottom: 10px; float: left;}
    .step ul li:first-child {margin-left: 0px;}
    .step ul li:before{display: none}

    .quatang-l{width: 48%; float: right;}
    .quatang-r{width: 50%; float: left; margin-right: 2%;}

    .step ul li span {top: 12px; left: 55px !important;}
}

@media only screen and (max-width: 767px){
    .quatang-l{width: 100%; float: right; margin-bottom: 20px;}
    .quatang-r{width: 100%; float: left; margin-right: 0%;}
}

@media only screen and (max-width: 480px){
    /*.step ul li{float: left; margin-right: 50px; position: relative; margin-bottom: 10px;}
    .step ul li:before{ width: 50px;}
    .step ul li:nth-child(4){margin-left: 40px;}
    .step ul li:nth-child(3):before{display: none;}*/
    .step ul li:before{display: block; height: 10px; border-left: 1px solid #41873F; width: 1px; top: 50px; left: 25px;}
    .step ul li{margin-right: 0px; width: 90%; margin-bottom: 10px; float: left; margin-left: 10% !important;}
}

@media only screen and (max-width: 360px){
    /*.step ul li{ margin-right: 50px;}
    .step ul li:before{ width: 50px;}*/

    .item-giohang-t {
        margin-left: 130px;
    }

    .ll p > span{width: 100%; }
    .ll p input{width: 100%;}

    .nn p > span{width: 100%; }
    .nn p input, .nn p select{width: 100%;}

    .ln p > span{ width: 100%; }
    .ln p input, .ln p select, .ln form p textarea{width: 100%;}
}
@media only screen and (max-width: 320px){
    /*.step ul li{margin-right: 30px;}
    .step ul li:before{ width: 30px;}*/
    .item-giohang-i {
        width: 100px;
    }

    .item-giohang-t {
        margin-left: 115px;
    }
}
.btn-tt{position: relative; padding-right: 30px;}
.temp{position: relative;}
.submit-form{padding-right: 30px;}
#list-order{ margin-top: 20px;}
.fa-angle-double-right{
    position: absolute; top: 6px; right: 15px;
    color: #fff;
    animation:mykey 1s infinite;
    -webkit-animation:mykey 1s infinite;
    -moz-animation:mykey 1s infinite;
}
@keyframes mykey{
    0% {right: 15px;}
50%{right: 5px;}
100%{right: 15px;}
}
@-webkit-keyframes mykey{
    0% {right: 15px;}
50%{right: 5px;}
100%{right: 15px;}
}
@-moz-keyframes mykey{
    0% {right: 15px;}
50%{right: 5px;}
100%{right: 15px;}
}

.product-slider-desc ul{margin-left: 20px;}
.product-slider-desc ul li{list-style: disc;}

.p-view{
    width: 100px;
    margin: 5px auto;
    border: 1px solid #F15C25;
    border-radius: 10px;
}
