/* ******************************************
  RIT -- CARS+
  Created by: Matt Bango and Chris Muench
****************************************** */
@import url("reset_css.php");
.wrap { width:800px; margin:0 auto; }
.subWrap{ width: 800px; }
.red{ color: #990000; font-size: 0.65em; position:relative; left: 200px; }
.floatLeft{ float: left; }.floatRight { float: right; }
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix { display: inline-block; }html[xmlns] .clearfix {display: block; }* html 
.clearfix { height: 1%; }
body { background: #242424 url(../image/body_bg.jpg) repeat-x top; }
p { font-size: 0.75em; line-height: 2.0; }
a { color:#666666;}
a .activea{}
#content 
#loginContainer 
{background-color: #d0d0d0;border: 1px solid #999999;padding: 10px;width: 602px;margin: 75px auto 10px auto;}
#content #loginBox {background-color: #ffffff;height: 100%;position: relative;}
#loadingBox { width: 324px; margin: 0 auto;color: #999999; }
#loginButton { width:119px; height:45px; border: none; padding: 0; float:right; margin: 0 15px 0 0;}
#footer p {color: #666666;font-size: 0.70em;text-align: center;}
input {background: transparent url(../images/input_bg.jpg) no-repeat top;text-align:center;padding: 6px;border: 1px solid #cecece;width: 276px;color: #666666;}
.formRow, .buttonRow {width: 335px;margin: 8px auto;}
.formImage {float:left;margin: 7px 8px 0 0;}
.formField {float:left;padding: 3px;background-color: #f2f2f2;}