/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2016, 12:08:18 PM
    Author     : HTML Team
*/
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);
@font-face {
    font-family: tahoma;
    src: url(../fonts/tahoma.ttf);
}
body{font-family: 'Open Sans', sans-serif;}
.open-san-regular{
    font-family: 'Open Sans', sans-serif;
}
.open-san-regular-small{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.tahoma{
    font-family: tahoma;
}
.open-san-semibold{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.img-maxsize{
    max-width:100%;
    width:100%;
}
.disable-padding{
    padding-left:0px;
    padding-right:0px;
}
.disable-margin{
    margin-left:0px;
    margin-right:0px;
}
.disable-padding-left{padding-left:0px;}
.disable-padding-right{padding-right:0px;}
.disable-padding-top{padding-top:0px !important;}
.nav>li>a:focus, .nav>li>a:hover{background:none;}
.home{overflow-x:hidden;}
a:hover{text-decoration: none; outline: none;}
a:focus{text-decoration: none; outline: none;}
a{text-decoration: none; cursor: pointer;}
.banner-height{height:100%;}
.menu-min-height{min-height:100%;}
.menu-nav-height{min-height:140px;}
.nav-partable li a{color:#fff; height:100%; line-height:50px; border:none; border-radius: 0; cursor: pointer;}
.nav-partable .fromm-li-home{padding-top:10px; padding-bottom:10px; padding-left:32px; padding-right:32px;}
.nav-partable li a:hover{color:#fff; background-color:#fdb10e; border: none; border-radius: 0; cursor: pointer;}
.add-background{background-color:#fdb10e;}
/*.resize-left-width::after{display:block; width:36px; height:67px; background-color:#30302f; content:""; position: absolute; top:72px; right:18px; transform:skewX(21deg)}*/
/*.resize-right-width::before{display:block; width:36px; height:67px; background-color:#30302f; content:""; position: absolute; top:72px; transform:skewX(-21deg); left:14px;}*/
.resize-right-width .nav-partable-right li.client-list{background:url("../img/list-background.png") no-repeat; background-size:cover; width:156px; text-align: right;}
.resize-left-width .nav-partable-left li.news-list{background:url("../img/list-left.png") no-repeat; background-size:cover; background-position: 100%; width:128px; text-align: center;}
.resize-left-width .nav-partable-left li.news-list a:hover{background:url("../img/list-active-left.png") no-repeat; background-size:cover; background-position: 100%; width:128px; text-align: center;}
.resize-right-width .nav-partable-right li.client-list a:hover{background: transparent url("../img/list-active.png") no-repeat ; background-size:cover; width:191px; text-align: left; padding-left:22px;}
.nav-gaoranger{border-bottom: 2px solid #FDB827 !important; width:1170px; max-width: 1170px;}
.father-category{position: relative; width:1170px; margin:0 auto; height:473px;}
/*.resize-left-width:hover::after{background-color:#fdb10e;}*/
.fromm-navbar .nav-partable li{height:67px; background-color:#30302f; margin-left:1px;}
/*.resize-left-width{width:37.667%;}*/
/*.resize-right-width{width:45%;}*/
.nav-partable-left{font-size:13px;}
.nav-partable-right{font-size:13px;}

/*Home*/
.fromm-header{min-height:140px; background-color: #757574; position: relative;}
.fromm-navbar{background-color:#757574; border:none; position: absolute; bottom: 0px; margin-bottom:0px;}
.menu-padding{padding-top:73px;}
.logo-padding{padding-top:18px;}
.banner-box{overflow:hidden;}
.fromm-slider .flex-direction-nav .flex-prev{position: absolute; left:15px; background:url("../img/pre.png") no-repeat; height:50px; width:44px;}
.fromm-slider .flex-direction-nav .flex-next{position: absolute; right:15px; background:url("../img/next.png") no-repeat; height:50px; width:42px;}
.fromm-slider .flex-direction-nav a{opacity: 1;}
.fromm-slider .flex-direction-nav a::before{content:"";}
.fromm-slider .flex-direction-nav a.flex-next::before{content:"";}
.multilanguage-box{position: absolute; top:0px; right:0; border:1px solid #fdb10e; width:120px; background-color:#000;}
.category-menu-box{min-height:410px; background:url("../img/fromm-home-background.png") no-repeat; background-size:cover; background-position: 50% 100%;}
/*.fromm-navbar::after{display:block; width:63.76%; background-color:#fdb10e; height:5px; margin-left:328px; position: absolute; bottom:0px;}*/
.the-ball{position: absolute; top:34%; left:41%;}
.industry-medicine-box{width:460px; height:82px; background:url("../img/industry.png") no-repeat; position: absolute; left:350px; top:78px;}
.cars-box{width:304px; height:82px; background:url("../img/cars.png") no-repeat; position: absolute; left:678px; top:184px;}
.ships-box{width:315px; height:82px; background:url("../img/ships.png") no-repeat; position: absolute; left:613px; top:292px;}
.bikes-box{width:296px; height:82px; background:url("../img/motobike.png") no-repeat; position: absolute; left:187px; top:184px;}
.trucks-box{width:315px; height:82px; background:url("../img/trucks.png") no-repeat; position: absolute; left:238px; top:292px;}
.industry-title{color:#fdb721; text-transform: uppercase; position: absolute; bottom:1px; background:rgba(0,0,0, 0.5); height:34px; width:180px; text-align: center; padding-top:7px;  border-bottom-left-radius:11px; border-bottom-right-radius:24px; padding-left:10px;}
.cars-title{color:#fdb721; text-transform: uppercase; position: absolute; bottom:0px; right:4px; background:rgba(0,0,0, 0.5); height:34px; width:163px; text-align: right; padding-top:7px;  border-bottom-left-radius: 7px; padding-right:20px; }
.ships-title{color:#fdb721; text-transform: uppercase; position: absolute; bottom:0px; right:2px; background:rgba(0,0,0, 0.5); height:34px; width:126px; text-align: right; padding-top:7px;  border-bottom-right-radius: 7px; padding-right:20px; }
.motobike-title{color:#fdb721; text-transform: uppercase; position: absolute; bottom:0px; background:rgba(0,0,0, 0.5); height:34px; width:120px; text-align: left; padding-top:7px;  border-bottom-left-radius:4px;  padding-left:10px;}
.trucks-title{color:#fdb721; text-transform: uppercase; position: absolute; bottom:0px; background:rgba(0,0,0, 0.5); height:34px; width:120px; text-align: left; padding-top:7px;  border-bottom-left-radius:4px;  padding-left:10px;}
.catchup-menu{width:1238px;}
.address-info p{margin-bottom:0px;}
.address-info p:first-of-type{margin-bottom:10px;}
.footer-box{background-color:#313131;}
.company-name{color:#fdb721;}
.address-parts{color:#fff;}
.phone-box{padding-top:43px;}
.phone-box p{margin-bottom:0px;}
.address-info{padding-top:14px;}
.mail-box{padding-top:43px;}
.mail-box p{margin-bottom:0px;}
.border-footer{border-top:1px solid #ccc;}
.footer-part-1{padding-bottom:18px;}
.copyright-footer-box{margin-top:12px; margin-bottom: 12px;}
.hyper-link-box{display:block; height:100%; width:100%;}
.multilanguage-ul{list-style: none; padding-left:5px; padding-top:5px; margin-bottom:0px; padding-bottom:3px;}
.multilanguage-ul li{text-transform: uppercase; cursor: pointer;}
.multilanguage-ul li a{ color:#fff; padding-left:5px; padding-right:5px; display: table; float:left;}
.usa-flag{background:url("../img/usa-flag.png") no-repeat; width:28px; height:17px; display:inline-block; float:left;}
.caret-icon{float:left; color:#fff; margin-top:8px;}
.sub-language{padding-left:0px; list-style: none; display:block; position:absolute; background-color:#000; display: block; top:28px; width:101%; left:-1px; border:1px solid #fdb10e; display:none;}
.sub-language li{padding-left:5px; padding-top:5px; cursor: pointer; border-bottom:1px solid #fdb10e;  }
.sub-language li:last-of-type{border:none;}
.vn-flag{background:url("../img/flag_vn.jpg") no-repeat; width:28px; height:17px; display:inline-block; float:left;}
.fromm-header-mobile{display:none;}
.category-box-mobile{display:none;}
.footer-copyright-mobile{display:none;}
.resize-right-width:hover::before{background-color:#fdb10e;}
.industry-title{animation-delay: 1.5s;}
.cars-title{animation-delay: 1.5s;}
.ships-title{animation-delay: 1.5s;}
.motobike-title{animation-delay: 1.5s;}
.trucks-title{animation-delay: 1.5s;}
.five-parts{animation-duration: 10s;}
.nav-partable-left li:first-of-type{margin-left:0px;}
.fromm-active{background-color:#fdb721 !important;}
.home-fromm-desktop{position: relative;}
.navbar-inverse .navbar-toggle{z-index: 99}

/*End home*/

/*Contact*/
.fromm-lienhe{background-color:#e2e2e2;}
.contact-title{font-size:17px; margin-bottom:0px;  margin-top:0px;}
.info-box{background-color:#fff; padding-left:40px; padding-right:40px; padding-top:30px; padding-bottom:10px; box-shadow: 0px 0px 2px #000000;}
.contact-heading-background{background:url("../img/tab-heading.png") no-repeat; background-size:cover; width:400px; text-align: right; float:right; padding-right:40px; height:30px; font-size:18px; padding-top:4px; color:#fff; margin-bottom: 0px;}
.contact-company{font-size:20px; color:#FDB721; margin-top:15px; margin-bottom:15px;}
.input-text-fromm{width:384px; height:44px; background-color:#fef7e9; margin-bottom: 10px; border:none; outline: none; padding-left:10px;}
.contact-message{width:100%; height:206px; background-color:#fef7e9; border:none; outline: none; padding-top:10px; padding-left:10px;}
/*End contact*/

/*Product details*/
.product-details-box{background-color:#fff;}
.product-details-tabs{background-color:#b7b7b7; margin-right:2px;}
.fromm-product-details-info{background-color:#d7d7d7; padding-bottom: 40px;}
.fromm-product-details-info li.product-menu-background{padding-top: 12px; text-transform: uppercase; color: #fdb721;}
.fromm-product-details-info li.product-menu-background a{color: #fdb721; padding-left: 30px; margin-top: 5px; font-size: 17px;}
.fromm-product-details-info ul.sub-menu-left{list-style: none; padding: 0px; margin: 0px; margin-top: -12px; border-left: 4px solid #fdb721;}
.fromm-product-details-info ul.sub-menu-left li a{display: block; background-color: #6d6d6d; margin-right: 15px; border-bottom: 1px solid #ccc; padding: 10px 15px; color: #fff; padding-left: 28px; text-transform: uppercase; line-height: 20px; font-size: 17px;}
.fromm-product-details-info ul.sub-menu-left li:last-child a{border-bottom: none;}
.fromm-product-details-info ul.sub-menu-left li:hover a{background-color: #fdb721;}
.fromm-product-details-info .nav-tabs .product-details-tabs a{border:none; border-radius: 0; color:#fff;}
.fromm-product-details-info .nav-tabs .product-details-tabs a:hover{border:none; border-radius: 0;}
.fromm-product-details-info .nav-tabs .product-details-tabs a:focus{border:none; border-radius: 0;}
.fromm-product-details-info .nav-tabs .product-details-tabs a:active{border:none; border-radius: 0;}
.fromm-product-details-info .nav-tabs > li > a{margin-right:0px;}
.product-details-box .active a{background-color:#fdb721  !important; color:#fff !important;}
.product-menu-background{background:url("../img/menu-heading-background.png") no-repeat; background-size:cover; width:274px; height:62px;}
.title-product{border-bottom: 1px solid #fdb721; text-transform: uppercase; color: #fdb721; margin-top: 20px; padding-bottom: 5px;}
.fromm-form-product input.form-product{border-radius: 5px; border: 1px solid #ccc; height: 26px;}
.fromm-form-product .mg-input{margin-top: 20px;}
.fromm-form-product .mg-input label{margin-bottom: 0px;}
.text-area-noidung{border-radius: 5px; border: 1px solid #ccc; height: 170px;}
.product-price{ color: #fdb721; }
table.table-product-thongso { width: 100%; margin-top: 25px; text-align: center;}
table.table-product-thongso td{border: 1px solid #fdb721; padding: 20px 20px;}
table.table-product-thongso td.first-product-detail{text-align: left; width: 55%;}
table.table-product-thongso td.last-product-detail{font-weight: bold;}

/*End product details*/

/*
    TIN TUC
*/
.img-tintuc{
    padding: 0px;
}
.des-tintuc .title-product{
    margin-top: 0px;
}
.btn-list-tintuc{
    background-color: #fdb721;
    color: #fff;
    padding: 3px 10px;
}
.btn-list-tintuc:hover{
    background-color: #ccc;
}
.phan-trang{
    padding-right: 73px;
}
.phan-trang .pagination>li>a,.phan-trang .pagination>li>span{
    color: #fff;
    background-color: #fdb721;
    border-radius: 0px;
    padding: 0px 5px;
    margin-left: 3px;
}

@media(max-width:1024px) and (min-width:768px){
    .navbar-toggle{display:block;position: absolute;right:0; top:10px;cursor: pointer;}
    .navbar-collapse.collapse {display: none !important;}
    .navbar-collapse {overflow-x: visible !important;width:100%;}
    /*    .navbar-collapse.in {overflow-y: auto !important;}*/
    .collapse.in {display: block !important;}
    .fromm-header-mobile{display:block;}
    .fromm-header-mobile .container{width:100%;}
    .fromm-header{display:none;}
    .from-navbar-mobile{position: static; }
    .logo-mobile{display:table; margin-left:0px !important;}
    .logo-mobile img{width:62%; max-width: 100%;}
    .fromm-navbar::after{display:none;}
    .hamburger-btn{background-color:#000; margin-top:40px;}
    .menu-mobile{padding-top:0px;}
    .from-navbar-mobile .menu-mobile li{width:100%; margin-left:0px; height:auto;}
    .from-navbar-mobile .menu-mobile li a{line-height:initial;}
    .navbar-mobile{overflow-y: visible;}
    .navbar-collapse.in{overflow-y: visible;}
    .the-ball{display:none;}
    .category-box-desktop{display:none;}
    .category-box-mobile{display:block;}
    .category-menu-box-mobile{min-height:auto; background:none;}
    .full-size{max-width:100%; width:100%;}
    .container-fluid-mobile{width:100%;}
    .footer-box .container{width:100%;}
    .footer-box .container .col-md-6{width:100%;}
    .catchup-menu{width:100%;}
    .fromm-header-mobile .navbar-header{margin-left:0px; margin-right:0px;}
    .category-soft-box{display:inline-block; width:100%; background:rgba(0,0,0, 0.2); position: absolute; bottom:0; color:#fdb721; padding-left:10px;}
    .industry-medicine-box-mobile, .cars-box-mobile, .ships-box-mobile, .bikes-box-mobile, .trucks-box-mobile{position: relative;}
    .footer-copyright-mobile{display:block;}
    .footer-copyright-desktop{display:none;}
    .footer-box{padding-left:10px; padding-right:10px;}
    .multilanguage-box{right:1.5%; top:10px; width:100px;}
    .multilanguage-ul li a{font-size:10px;}
    .sub-language-menu-mobile{top:100%;}
    /*    .industry-medicine-box-mobile, .cars-box-mobile, .ships-box-mobile, .bikes-box-mobile, .trucks-box-mobile{width:50%; float:left;}*/
    .medicine-mobile, .cars-mobile, .ships-mobile, .trucks-mobile, .bikes-mobile{display:none;}
    .full-size{width:100%; max-width: 100%;}
    .cars-box-mobile, .ships-box-mobile{width:50%; float:left;}
    .bikes-box-mobile, .trucks-box-mobile{width:50%; float:left;}
    .phone-box{padding-top:0px;}
    .mail-box{padding-top:0px;}
    .footer-part-1{padding-bottom:11px;}
    .footer-copyright-mobile p:first-of-type{margin-bottom:0px;}
    .footer-copyright-mobile p:last-of-type{margin-top:0px;}
    .caret-icon{margin-top:5px;}
    
    /*Contact*/
    .fromm-form-lienhe .personal-info-box{width:100%;}
    .fromm-form-lienhe .input-text-fromm{width:100%;}
    .fromm-form-lienhe .personal-info-box:last-of-type{padding-left: 15px; padding-right: 0px;}
    .fromm-form-lienhe .contact-message{width:100%;}
    /*End contact*/
    
}
@media(max-width:767px) and (min-width:415px){
    .navbar-toggle{display:block;position: absolute;right:0; top:10px;cursor: pointer;}
    .navbar-collapse.collapse {display: none !important;}
    .navbar-collapse {overflow-x: visible !important;width:100%;}
    /*    .navbar-collapse.in {overflow-y: auto !important;}*/
    .collapse.in {display: block !important;}
    .fromm-header-mobile{display:block;}
    .fromm-header-mobile .container{width:100%;}
    .fromm-header{display:none;}
    .from-navbar-mobile{position: static; }
    .logo-mobile{display:table;  margin-left:0px !important;}
    .logo-mobile img{width:62%; max-width: 100%;}
    .fromm-navbar::after{display:none;}
    .hamburger-btn{background-color:#000; margin-top:40px;}
    .menu-mobile{padding-top:0px;}
    .from-navbar-mobile .menu-mobile li{width:100%; margin-left:0px; height:auto;}
    .from-navbar-mobile .menu-mobile li a{line-height:initial;}
    .navbar-mobile{overflow-y: visible; padding:0px; margin:0px !important;}
    .navbar-collapse.in{overflow-y: visible;}
    .the-ball{display:none;}
    .category-box-desktop{display:none;}
    .category-box-mobile{display:block;}
    .category-menu-box-mobile{min-height:auto; background:none;}

    .container-fluid-mobile{width:100%;}
    .footer-box .container{width:100%;}
    .footer-box .container .col-md-6{width:100%;}
    .catchup-menu{width:100%;}
    .fromm-header-mobile .navbar-header{margin-left:0px; margin-right:0px;}
    .category-soft-box{display:inline-block; width:100%; background:rgba(0,0,0, 0.2); position: absolute; bottom:0; color:#fdb721; padding-left:10px;}
    .industry-medicine-box-mobile, .cars-box-mobile, .ships-box-mobile, .bikes-box-mobile, .trucks-box-mobile{position: relative;}
    .footer-copyright-mobile{display:block;}
    .footer-copyright-desktop{display:none;}
    .footer-box{padding-left:10px; padding-right:10px;}
    .multilanguage-box{right:1.5%; top:10px; width:100px;}
    .multilanguage-ul li a{font-size:10px;}
    .sub-language-menu-mobile{top:100%;}
    /*    .industry-medicine-box-mobile, .cars-box-mobile, .ships-box-mobile, .bikes-box-mobile, .trucks-box-mobile{width:50%; float:left;}*/
    .medicine-mobile, .cars-mobile, .ships-mobile, .trucks-mobile, .bikes-mobile{display:none;}
    .ships-ipad, .bikes-ipad, .cars-ipad, .trucks-ipad, .medicine-ipad{display:block;}
    .full-size{width:100%; max-width: 100%;}
    .cars-box-mobile, .ships-box-mobile{width:50%; float:left;}
    .bikes-box-mobile, .trucks-box-mobile{width:50%; float:left;}
    .phone-box{padding-top:0px;}
    .mail-box{padding-top:0px;}
    .footer-part-1{padding-bottom:11px;}
    .footer-copyright-mobile p:first-of-type{margin-bottom:0px;}
    .footer-copyright-mobile p:last-of-type{margin-top:0px;}
    .fromm-slider .flex-direction-nav .flex-next{background:url("../img/next-mobile.png") no-repeat; top:60%; right:0px; width:35px;}
    .fromm-slider .flex-direction-nav .flex-prev{background:url("../img/pre-mobile.png") no-repeat; top:60%; width:35px;}
    
    /*Contact*/
    .fromm-form-lienhe .personal-info-box{width:100%;}
    .fromm-form-lienhe .input-text-fromm{width:100%;}
    .fromm-form-lienhe .personal-info-box:last-of-type{padding-left: 15px; padding-right: 0px;}
    .fromm-form-lienhe .contact-message{width:100%;}
    /*End contact*/
}
@media(max-width:414px) and (min-width:375px){
    .fromm-header-mobile{display:block;}
    .fromm-header{display:none;}
    .from-navbar-mobile{position: static; }
    .logo-mobile{display:table;}
    .logo-mobile img{width:62%; max-width: 100%;}
    .fromm-navbar::after{display:none;}
    .hamburger-btn{background-color:#000; margin-top:53px;}
    .menu-mobile{padding-top:0px;}
    .from-navbar-mobile .menu-mobile li{width:100%; margin-left:0px; height:auto;}
    .from-navbar-mobile .menu-mobile li a{line-height:initial;}
    .navbar-mobile{overflow-y: visible;}
    .navbar-collapse.in{overflow-y: visible;}
    .the-ball{display:none;}
    .category-box-desktop{display:none;}
    .category-box-mobile{display:block;}
    .category-menu-box-mobile{min-height:auto; background:none;}
    .full-size{width:100%; max-width:100%;}
    .container-fluid-mobile{width:100%;}
    .footer-box .container{width:100%;}
    .footer-box .container .col-md-6{width:100%;}
    .catchup-menu{width:100%;}
    .fromm-header-mobile .navbar-header{margin-left:0px; margin-right:0px;}
    .category-soft-box{display:inline-block; width:100%; background:rgba(0,0,0, 0.2); position: absolute; bottom:0; color:#fdb721; padding-left:10px;}
    .industry-medicine-box-mobile, .cars-box-mobile, .ships-box-mobile, .bikes-box-mobile, .trucks-box-mobile{position: relative;}
    .footer-copyright-mobile{display:block;}
    .footer-copyright-desktop{display:none;}
    .footer-box{padding-left:10px; padding-right:10px; font-size:12px;}
    .multilanguage-box{right:3.8%; top:10px; width:100px;}
    .multilanguage-ul li a{font-size:10px;}
    .sub-language-menu-mobile{top:100%;}
    .ships-ipad, .bikes-ipad, .cars-ipad, .trucks-ipad, .medicine-ipad{display:none;}
    .fromm-header-mobile .navbar-mobile #navbar{margin:0px !important; padding:0px !important;}
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{max-height:100% !important;}
    .phone-box{padding-top:0px;}
    .mail-box{padding-top:0px;}
    .footer-part-1{padding-bottom:11px;}
    .footer-copyright-mobile p:first-of-type{margin-bottom:0px;}
    .footer-copyright-mobile p:last-of-type{margin-top:0px;}
    .fromm-slider .flex-direction-nav .flex-next{background:url("../img/next-mobile.png") no-repeat; top:60%; right:0px; width:35px;}
    .fromm-slider .flex-direction-nav .flex-prev{background:url("../img/pre-mobile.png") no-repeat; top:60%; width:35px;}
    
    /*Contact*/
    .fromm-form-lienhe .personal-info-box{width:100%;}
    .fromm-form-lienhe .input-text-fromm{width:100%;}
    .fromm-form-lienhe .personal-info-box:last-of-type{padding-left: 15px; padding-right: 0px;}
    .fromm-form-lienhe .contact-message{width:100%;}
    /*End contact*/
}
@media(max-width:375px) and (min-width:320px){
    .fromm-header-mobile{display:block;}
    .fromm-header{display:none;}
    .from-navbar-mobile{position: static; }
    .logo-mobile{display:table;}
    .logo-mobile img{width:62%; max-width: 100%;}
    .fromm-navbar::after{display:none;}
    .hamburger-btn{background-color:#000; margin-top:53px;}
    .menu-mobile{padding-top:0px;}
    .from-navbar-mobile .menu-mobile li{width:100%; margin-left:0px; height:auto;}
    .from-navbar-mobile .menu-mobile li a{line-height:initial;}
    .navbar-mobile{overflow-y: visible;}
    .navbar-collapse.in{overflow-y: visible;}
    .the-ball{display:none;}
    .category-box-desktop{display:none;}
    .category-box-mobile{display:block;}
    .category-menu-box-mobile{min-height:auto; background:none;}
    .full-size{width:100%; max-width:100%;}
    .container-fluid-mobile{width:100%;}
    .footer-box .container{width:100%;}
    .footer-box .container .col-md-6{width:100%;}
    .catchup-menu{width:100%;}
    .fromm-header-mobile .navbar-header{margin-left:0px; margin-right:0px;}
    .category-soft-box{display:inline-block; width:100%; background:rgba(0,0,0, 0.2); position: absolute; bottom:0; color:#fdb721; padding-left:10px;}
    .industry-medicine-box-mobile, .cars-box-mobile, .ships-box-mobile, .bikes-box-mobile, .trucks-box-mobile{position: relative;}
    .footer-copyright-mobile{display:block;}
    .footer-copyright-desktop{display:none;}
    .footer-box{padding-left:10px; padding-right:10px; font-size:12px;}
    .sub-language-menu-mobile{top:100%;}
    .multilanguage-box{right:3.8%; top:10px; width:100px;}
    .multilanguage-ul li a{font-size:10px;}
    .ships-ipad, .bikes-ipad, .cars-ipad, .trucks-ipad, .medicine-ipad{display:none;}
    .fromm-header-mobile .navbar-mobile #navbar{margin:0px !important; padding:0px !important;}
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{max-height:100% !important;}
    .phone-box{padding-top:0px;}
    .mail-box{padding-top:0px;}
    .footer-part-1{padding-bottom:11px;}
    .footer-copyright-mobile p:first-of-type{margin-bottom:0px;}
    .footer-copyright-mobile p:last-of-type{margin-top:0px;}
    .fromm-slider .flex-direction-nav .flex-next{background:url("../img/next-mobile.png") no-repeat; top:60%; right:0px; width:35px;}
    .fromm-slider .flex-direction-nav .flex-prev{background:url("../img/pre-mobile.png") no-repeat; top:60%; width:35px;}
    
    /*Contact*/
    .fromm-form-lienhe .personal-info-box{width:100%;}
    .fromm-form-lienhe .input-text-fromm{width:100%;}
    .fromm-form-lienhe .personal-info-box:last-of-type{padding-left: 15px; padding-right: 0px;}
    .fromm-form-lienhe .contact-message{width:100%;}
    /*End contact*/
}
@media(max-width:320px){
    .fromm-header-mobile{display:block;}
    .fromm-header{display:none;}
    .from-navbar-mobile{position: static; }
    .logo-mobile{display:table;}
    .logo-mobile img{width:62%; max-width: 100%;}
    .fromm-navbar::after{display:none;}
    .hamburger-btn{background-color:#000; margin-top:53px;}
    .menu-mobile{padding-top:0px;}
    .from-navbar-mobile .menu-mobile li{width:100%; margin-left:0px; height:auto;}
    .from-navbar-mobile .menu-mobile li a{line-height:initial;}
    .navbar-mobile{overflow-y: visible;}
    .navbar-collapse.in{overflow-y: visible;}
    .the-ball{display:none;}
    .category-box-desktop{display:none;}
    .category-box-mobile{display:block;}
    .category-menu-box-mobile{min-height:auto; background:none;}
    .full-size{width:100%; max-width:100%;}
    .container-fluid-mobile{width:100%;}
    .footer-box .container{width:100%;}
    .footer-box .container .col-md-6{width:100%;}
    .catchup-menu{width:100%;}
    .multilanguage-box{right:3.8%; top:10px;}
    .fromm-header-mobile .navbar-header{margin-left:0px; margin-right:0px;}
    .category-soft-box{display:inline-block; width:100%; background:rgba(0,0,0, 0.2); position: absolute; bottom:0; color:#fdb721; padding-left:10px;}
    .industry-medicine-box-mobile, .cars-box-mobile, .ships-box-mobile, .bikes-box-mobile, .trucks-box-mobile{position: relative;}
    .footer-copyright-mobile{display:block;}
    .footer-copyright-desktop{display:none;}
    .footer-box{padding-left:10px; padding-right:10px; font-size:12px;}
    .sub-language-menu-mobile{top:100%;}
    .multilanguage-box{right:3.8%; top:10px; width:100px;}
    .multilanguage-ul li a{font-size:10px;}
    .ships-ipad, .bikes-ipad, .cars-ipad, .trucks-ipad, .medicine-ipad{display:none;}
    .fromm-header-mobile .navbar-mobile #navbar{margin:0px !important; padding:0px !important; }
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{max-height:100% !important;}
    .phone-box{padding-top:0px;}
    .mail-box{padding-top:0px;}
    .footer-part-1{padding-bottom:11px;}
    .footer-copyright-mobile p:first-of-type{margin-bottom:0px;}
    .footer-copyright-mobile p:last-of-type{margin-top:0px;}
    .fromm-slider .flex-direction-nav .flex-next{background:url("../img/next-mobile.png") no-repeat; top:60%; right:0px; width:35px;}
    .fromm-slider .flex-direction-nav .flex-prev{background:url("../img/pre-mobile.png") no-repeat; top:60%; width:35px;}
    
    /*Contact*/
    .fromm-form-lienhe .personal-info-box{width:100%;}
    .fromm-form-lienhe .input-text-fromm{width:100%;}
    .fromm-form-lienhe .personal-info-box:last-of-type{padding-left: 15px; padding-right: 0px;}
    .fromm-form-lienhe .contact-message{width:100%;}
    /*End contact*/
}

